<div class="container">
  <div>
    <button mat-fab class="back-button" (click)="goToVetsTable()">
      <mat-icon> arrow_back </mat-icon>
    </button>
  </div>

  <div class="title">
    <h2> {{ 'Veterinarian Information' | translate }} </h2>
  </div>

  <div class="information">
    <hr>
    <div class="name-container">
      <div>
        <p class="name"> {{ 'Name' | translate }} </p>
      </div>
      <div>
        <p> {{ vet.firstName }} {{ vet.lastName }} </p>
      </div>
    </div>
    <hr>
    <div class="description-container">
      <div>
        <p class="personal-description"> {{ 'Personal description' | translate }} </p>
      </div>
      <div>
        <ng-container *ngIf="vetDescription !== ''; else vetDescriptionError">
          <p> {{ vetDescription }} </p>
        </ng-container>
        <ng-template #vetDescriptionError>
          <p> {{ noVetDescriptionError }} </p>
        </ng-template>
      </div>
    </div>
    <hr>
    <div class="specialities-container">
      <div>
        <p class="specialities"> {{ 'Specialities' | translate }} </p>
      </div>
      <div class="specialities-name">
        <div *ngFor="let specialty of vet.specialities">
          <p> {{ specialty.name | translate }} </p>
        </div>
      </div>
    </div>
  </div>

  <div class="vet-buttons">
    <button mat-raised-button> {{ 'View Visits' | translate }} </button>
    <button mat-raised-button> {{ 'Add Visit' | translate }} </button>
  </div>
</div>
