:host {
  --back-button-background-color: rgb(241, 241, 241);
  --back-button-color: rgb(52, 48, 45);
  --title-color: rgb(52, 48, 45);
  --hr-border-color: rgb(52, 48, 45);
  --p-width: 150px;
  --gap-between-informations: 575px;
  --flat-button-background-color: rgb(52, 48, 45);
  --flat-button-color: rgb(255, 255, 255);
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.back-button {
  margin-left: 290px;
  margin-bottom: 4px;
}

.mat-fab.mat-accent {
  background-color: var(--back-button-background-color);
  color: var(--back-button-color);
  box-shadow: none;
}

.mat-fab.mat-accent:active {
  box-shadow: none;
}

.title {
  margin-left: 310px;
  margin-bottom: 10px;
}

.title h2 {
  font-weight: 500;
  margin-bottom: 0;
  color: var(--title-color);
}

hr {
  border: 1px solid var(--hr-border-color);
  margin: 0;
}

.information {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 67.7%;
}

p {
  margin: 0;
  font-size: 16px;
}

.name-container {
  display: flex;
  gap: var(--gap-between-informations);
  margin-top: 8px;
  margin-bottom: 8px;
}

.name {
  width: var(--p-width);
}

.description-container {
  display: flex;
  align-items: center;
  gap: var(--gap-between-informations);
  margin-top: 8px;
  margin-bottom: 8px;
}

.personal-description {
  width: var(--p-width);
}

.specialities-container {
  display: flex;
  gap: var(--gap-between-informations);
  margin-top: 8px;
  margin-bottom: 8px;
}

.specialities {
  width: var(--p-width);
}

.specialities-name {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.vet-buttons {
  margin-left: 310px;
  margin-top: 30px;
}

.mat-raised-button {
  background-color: var(--flat-button-background-color);
  color: var(--flat-button-color);
}

.mat-raised-button:nth-child(2) {
  margin-left: 5px;
}
