<div class="container">
  <div>
    <button mat-fab class="back-button" (click)="goToOwnersTable()">
      <mat-icon> arrow_back </mat-icon>
    </button>
  </div>

  <div class="title">
    <h2> {{ 'Owner Information' | translate }} </h2>
  </div>

  <div class="information">
    <hr>
    <div class="name-container">
      <div>
        <p class="name"> {{ 'Name' | translate }} </p>
      </div>
      <div>
        <p> {{ owner.firstName }} {{ owner.lastName }} </p>
      </div>
    </div>
    <hr>
    <div class="address-container">
      <div>
        <p class="address"> {{ 'Address' | translate }} </p>
      </div>
      <div>
        <p> {{ owner.address }} </p>
      </div>
    </div>
    <hr>
    <div class="city-container">
      <div>
        <p class="city"> {{ 'City' | translate }} </p>
      </div>
      <div>
        <p> {{ owner.city }} </p>
      </div>
    </div>
    <hr>
    <div class="phone-container">
      <div>
        <p class="phone"> {{ 'Telephone' | translate }} </p>
      </div>
      <div>
        <p> {{ owner.phoneNumber }} </p>
      </div>
    </div>
  </div>

  <div class="owner-buttons">
    <button mat-raised-button> {{ 'Edit Owner' | translate }} </button>
    <button mat-raised-button> {{ 'Add New Pet' | translate }} </button>
  </div>

  <div class="pets-visits-title">
    <h2> {{ 'Pets and Visits' | translate }} </h2>
  </div>

  <div class="pets-visits">
    <hr>
    <div class="info-container">
      <div class="pet-info">
        <div class="pet" *ngFor="let pet of pets">
          <div class="pet-name">
            <p class="name"> {{ 'Name' | translate }} </p>
            <p> {{ pet.name }} </p>
          </div>
          <div class="pet-birth-date">
            <p class="birth-date"> {{ 'Birth Date' | translate }} </p>
            <p> {{ pet.birthDate }} </p>
          </div>
          <div class="pet-type">
            <p class="type"> {{ 'Type' | translate }} </p>
            <p> {{ pet.petType.name }} </p>
          </div>
        </div>
      </div>
      <div class="visit-container">
        <div class="visit-info">
          <div class="visit" *ngFor="let visit of visits">
            <div class="visit-date">
              <p> {{ 'Visit Date' | translate }} </p>
              <p> {{ visit.date }} </p>
            </div>
            <div class="visit-description">
              <p> {{ 'Description' | translate }} </p>
              <p> {{ visit.description }} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pet-buttons">
    <button mat-raised-button> {{ 'Add Visit' | translate }} </button>
  </div>
</div>
