:host {
  --back-button-background-color: rgb(241, 241, 241);
  --back-button-color: rgb(52, 48, 45);
  --title-color: rgb(52, 48, 45);
  --hr-border-color: rgb(52, 48, 45);
  --flat-button-background-color: rgb(52, 48, 45);
  --flat-button-color: rgb(255, 255, 255);
  --pets-visits-title-color: rgb(52, 48, 45);
  --pets-visits-background-color: rgb(255, 255, 255);
  --gap-between-informations: 579px;
  --p-width: 130px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.back-button {
  margin-left: 290px;
  margin-bottom: 4px;
}

.mat-fab.mat-accent {
  background-color: var(--back-button-background-color);
  color: var(--back-button-color);
  box-shadow: none;
}

.mat-fab.mat-accent:active {
  box-shadow: none;
}

.title {
  margin-left: 310px;
  margin-bottom: 10px;
}

.title h2 {
  font-weight: 500;
  margin-bottom: 0;
  color: var(--title-color);
}

hr {
  border: 1px solid var(--hr-border-color);
  margin: 0;
}

.information {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 67.7%;
}

p {
  margin: 0;
  font-size: 16px;
}

.name-container {
  display: flex;
  gap: var(--gap-between-informations);
  margin-top: 8px;
  margin-bottom: 8px;
}

.name {
  width: var(--p-width);
}

.address-container {
  display: flex;
  gap: var(--gap-between-informations);
  margin-top: 8px;
  margin-bottom: 8px;
}

.address {
  width: var(--p-width);
}

.city-container {
  display: flex;
  gap: var(--gap-between-informations);
  margin-top: 8px;
  margin-bottom: 8px;
}

.city {
  width: var(--p-width);
}

.phone-container {
  display: flex;
  gap: var(--gap-between-informations);
  margin-top: 8px;
  margin-bottom: 8px;
}

.phone {
  width: var(--p-width);
}

.owner-buttons {
  margin-left: 310px;
  margin-top: 30px;
}

.mat-raised-button {
  background-color: var(--flat-button-background-color);
  color: var(--flat-button-color);
}

.mat-raised-button:nth-child(2) {
  margin-left: 5px;
}

.pets-visits-title {
  margin-left: 310px;
  margin-top: 30px;
  margin-bottom: 10px;
  box-shadow: none;
}

.pets-visits-title h2 {
  font-weight: 500;
  margin-bottom: 0;
  color: var(--pets-visits-title-color);
}

.pets-visits {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 67.7%;
  height: 300px;
  background-color: var(--pets-visits-background-color);
}

.info-container {
  display: flex;
  justify-content: space-evenly;
}

.pet-info {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.pet {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.pet-name {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.pet-birth-date {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.birth-date {
  width: var(--p-width);
}

.pet-type {
  display: flex;
  flex-direction: row;
}

.type {
  width: var(--p-width);
}

.visit-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.visit-info {
  display: flex;
  flex-direction: column;
}

.visit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}

.visit:nth-child(1) {
  margin-bottom: 10px;
}

.visit:nth-child(2) {
  margin-bottom: 30px;
}

.visit:nth-child(3) {
  margin-bottom: 10px;
}

.visit-date {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

.visit-date p:first-child {
  margin-bottom: 4px;
}

.visit-description {
  display: flex;
  flex-direction: column;
}

.visit-description p:first-child {
  margin-bottom: 4px;
}

.pet-buttons {
  margin-left: 310px;
  margin-top: 30px;
}
