<div class="container">
  <div class="title">
    <h2> {{ 'List of Owners' | translate }} </h2>
  </div>

  <div class="spinner-container" *ngIf="inProgress">
    <mat-spinner></mat-spinner>
  </div>

  <div class="inactive-owners-button">
    <button mat-raised-button (click)="goToInactiveOwnersTable()"> {{ 'Inactive Owners' | translate }} </button>
  </div>

  <div class="error-container" *ngIf="!isDataSource && !inProgress">
    <p class="error"> {{ 'noOwnersFoundError' | translate }} </p>
  </div>

  <div class="owner-table" *ngIf="isDataSource && !inProgress">

    <div class="filter">
      <mat-form-field>
        <input matInput type="text" (input)="doFilter($event)" placeholder="{{ 'Filter by Last Name' | translate }}">
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef class="owner-number"> # </th>
        <td mat-cell *matCellDef="let number = index"> {{ number + 1 }} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> {{ 'First Name' | translate }} </th>
        <td mat-cell *matCellDef="let owner"> {{ owner.firstName }} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> {{ 'Last Name' | translate }} </th>
        <td mat-cell *matCellDef="let owner"> {{ owner.lastName }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{ 'Actions' | translate }} </th>
        <td mat-cell *matCellDef="let owner">
          <button mat-raised-button (click)="navigateToInfoPage(owner.id)"> {{ 'Details' | translate }} </button>
          <button mat-raised-button class="make-owner-inactive-button"
            (click)="openDialog(owner.firstName, owner.lastName, owner.id)">
            {{ 'Make Inactive' | translate }}
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
