<div class="container">
  <div class="title">
    <h2> {{ 'List of Veterinarians' | translate }} </h2>
  </div>

  <div class="spinner-container" *ngIf="inProgress">
    <mat-spinner></mat-spinner>
  </div>

  <div class="error-container" *ngIf="!isDataSource && !inProgress">
    <p class="error"> {{ 'noVetsFoundError' | translate }} </p>
  </div>

  <div class="vet-table" *ngIf="isDataSource && !inProgress">

    <div class="filter">
      <mat-form-field>
        <input matInput type="text" (input)="doFilter($event)" placeholder="{{ 'Filter by Last Name' | translate }}">
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef class="vet-number"> # </th>
        <td mat-cell *matCellDef="let number = index"> {{ number + 1 }} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> {{ 'First Name' | translate }} </th>
        <td mat-cell *matCellDef="let vet"> {{vet.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> {{ 'Last Name' | translate }} </th>
        <td mat-cell *matCellDef="let vet"> {{vet.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{ 'Actions' | translate }} </th>
        <td mat-cell *matCellDef="let vet">
          <button mat-raised-button (click)="navigateToInfoPage(vet.id)"> {{ 'Details' | translate }} </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
