:host {
  --toolbar-height: 3em;
  --toolbar-color: rgb(52, 48, 45);
  --button-height: 4.3em;
  --login-button-background-color: rgb(122, 122, 194);
  --login-button-color: rgb(255, 255, 255);
  --create-account-button-background-color: rgb(109, 179, 63);
  --create-account-button-color: rgb(255, 255, 255);
  --romanian-button-color: rgb(255, 255, 255);
  --english-button-color: rgb(255, 255, 255);
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  height: var(--toolbar-height);
  background-color: var(--toolbar-color);
}

.mat-fab {
  border-radius: 0px;
  height: var(--button-height);
  box-shadow: none;
}

.home {
  width: 90px;
}

.owners.ro {
  width: 130px;
}

.owners.en {
  width: 100px;
}

.vets.en {
  width: 150px;
}

.vets.ro {
  width: 120px;
}

.products.en {
  width: 115px;
}

.products.ro {
  width: 105px;
}

.image-container {
  display: flex;
}

.image {
  width: 150px;
  height: var(--toolbar-height);
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login {
  background-color: var(--login-button-background-color);
  color: var(--login-button-color);
}

.create-account {
  margin-right: 10px;
  background-color: var(--create-account-button-background-color);
  color: var(--create-account-button-color);
}

.i18n {
  display: flex;
  flex-direction: row;
}

.romanian {
  padding: 0;
  color: var(--romanian-button-color);
}

.english {
  padding: 0;
  color: var(--english-button-color);
}
