<div class="container">
  <div class="toolbar">
    <mat-toolbar>
      <div class="image-container">
        <img src="../../../assets/images/pet-clinic-logo.png" alt="Pet clinic logo image" class="image">
      </div>
      <div class="buttons">
        <div>
          <button mat-fab class="home" (click)="goToHome()" #home>
            <mat-icon>home</mat-icon>
            {{ 'HOME' | translate }}
          </button>
        </div>
        <div>
          <button mat-fab class="owners {{ language }}" (click)="goToOwners()" #owners>
            <mat-icon>search</mat-icon>
            {{ 'OWNERS' | translate }}
          </button>
        </div>
        <div>
          <button mat-fab class="vets {{ language }}" (click)="goToVets()" #vets>
            <mat-icon>list</mat-icon>
            {{ 'VETERINARIANS' | translate }}
          </button>
        </div>
        <div>
          <button mat-fab class="products {{ language }}" (click)="goToError()" #error>
            <mat-icon>view_list</mat-icon>
            {{ 'PRODUCTS' | translate }}
          </button>
        </div>
      </div>

      <div class="create-account-and-login-buttons">
        <button mat-raised-button class="create-account"> {{ 'Create account' | translate }} </button>
        <button mat-raised-button class="login"> Login </button>
      </div>

      <div class="i18n">
        <ng-container *ngIf="language === 'ro'; then english; else romanian"></ng-container>
        <ng-template #romanian class="romanian-container">
          <span class="flag-icon flag-icon-ro flag-icon-squared"></span>
          <button mat-button class="romanian" (click)="changeLanguageToEnglish()"> Română </button>
        </ng-template>

        <ng-template #english class="english-container">
          <span class="flag-icon flag-icon-us flag-icon-squared"></span>
          <button mat-button class="english" (click)="changeLanguageToRomanian()"> English </button>
        </ng-template>
      </div>
    </mat-toolbar>
  </div>
</div>
