<h1 mat-dialog-title> {{ 'Make Owner Inactive' | translate }} </h1>
<div mat-dialog-content>
  {{ 'Would you like to make' | translate }} <span class="owner-name"> {{ ownerName }} </span> <span
    class="inactive-text"> {{ 'inactive' | translate }}?
  </span>
</div>
<div mat-dialog-actions>
  <button class="no-button" mat-button mat-dialog-close> {{ 'No' | translate }} </button>
  <button class="ok-button" mat-button mat-dialog-close (click)="changeOwnerToInactive()"> {{ 'Ok' | translate }}
  </button>
</div>
