:host {
  --dialog-title-color: rgb(255, 85, 85);
  --owner-name-color: rgb(52, 48, 45);
  --inactive-text-color: rgb(255, 85, 85);
  --ok-button-background-color: rgb(255, 85, 85);
  --ok-button-color: rgb(52, 48, 45);
  --no-button-background-color: rgb(52, 48, 45);
  --no-button-color: rgb(255, 255, 255);
}

.mat-dialog-title {
  font-weight: 500;
  color: var(--dialog-title-color);
}

.owner-name {
  font-size: 16px;
  font-weight: 500;
  color: var(--owner-name-color);
}

.inactive-text {
  font-weight: 500;
  color: var(--inactive-text-color);
}

.mat-dialog-actions {
  margin-top: 10px;
}

button {
  margin-right: 8px;
}

.ok-button {
  background-color: var(--ok-button-background-color);
  color: var(--ok-button-color);
}

.no-button {
  background-color: var(--no-button-background-color);
  color: var(--no-button-color);
}
