:host {
  --title-color: rgb(52, 48, 45);
  --error-color: rgb(255, 0, 0);
  --header-background-color: rgb(52, 48, 45);
  --header-color: rgb(255, 255, 255);
  --make-active-button-background-color: rgb(52, 48, 45);
  --make-active-button-color: rgb(255, 255, 255);
  --cell-background-color: rgb(241, 241, 241);
  --spinner-color: rgb(52, 48, 45);
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.back-button {
  margin-left: 290px;
}

.mat-fab.mat-accent {
  background-color: var(--back-button-background-color);
  color: var(--back-button-color);
  box-shadow: none;
}

.mat-fab.mat-accent:active {
  box-shadow: none;
}

.title {
  margin-left: 310px;
}

.title h2 {
  font-weight: 500;
  margin-bottom: 0;
  color: var(--title-color);
}

.error-container {
  margin-top: 100px;
}

.error {
  color: var(--error-color);
  font-weight: 500;
  text-align: center;
  font-size: 16px;
}

.spinner-container {
  align-self: center;
  margin-top: 100px;
}

.spinner-container ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--spinner-color);
}

.owner-table {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 67.7%;
}

.owner-number {
  width: 250px;
}

.filter {
  display: flex;
  align-self: center;
}

.mat-header-cell {
  background-color: var(--header-background-color);
  color: var(--header-color);
  font-size: 16px;
}

th.mat-header-cell:nth-child(3) {
  width: 362px;
}

th.mat-header-cell:last-of-type {
  padding: 0;
}

td.mat-cell:last-of-type {
  padding: 0;
  width: 300px;
}

.mat-raised-button {
  background-color: var(--make-active-button-background-color);
  color: var(--make-active-button-color);
  box-shadow: none;
}

.mat-cell {
  background-color: var(--cell-background-color);
}

table {
  width: 100%;
  box-shadow: none;
}
