:host {
  --title-color: rgb(52, 48, 45);
}

.image {
  background-image: url('../../../assets/images/home-page.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 93.6%;
}

.title-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  font-weight: 700;
  font-size: 55px;
  margin: 0px;
  color: var(--title-color);
}
